header{
    color: rgb(63, 73, 11);
    font-size: 30px;
    background-color: rgb(139, 163, 171);
    font-family: serif;
    letter-spacing: 0.2cm;
}
main {
    text-align: center;
}
body {
    background-color: #FFE2B0;
}
.greeting {
    font-size: 60px;
    float: 30px;
    color: rgb(166, 166, 22);
}
.about {
    float: left;
    font-size: 20px;
}
nav{
    padding-bottom: 20px;
    margin-top: 3px;
    font-size: 30px;
}
li{
    float: left;
}
ul{
    list-style-type: none;
    overflow: visible;
}
li a{
    display: block;
    padding: 10px;
    background-color: darkgray;
    text-decoration: none;
    text-align: center;
}
/*nav menüüs link*/
li a:hover{
    background-color: burlywood;
}

main section{
    border-left: gold;

}

.box-1 {
    background-color: aqua;
    width: 1000px;
    height: 400px;
}
.head-1 {
    font-size: 50px;
    color: blue;
    
}
.paragraf-1 {
    font-size: 30px;
}
.box-2 {
    background-color: aquamarine;
    width: 400px;
    height: 200px;
}
.paragraf-2 {
    font-size: 40px;
}
.link-2a {
    font-size: 30px;
}
.link-2b {
    font-size: 30px;
}
